.ability
  max-width: 300px

  margin: 2rem auto
  padding: 2.5rem 2rem 2rem
  text-align: center

  background-color: white
  border-radius: 10px
  box-shadow: rgba(200, 200, 200, 0.325) 0px 6px 30px 2px

  &__header
    &__figure
      margin: 0
      padding: 0

      img
        max-width: 100%
        height: calc(2vw + 50px)

    &__heading
      font-size: 1.5em
      margin: 0.75em 0 1em

  &__description
    margin: 0
