.section__contact

  & .container
    max-width: 600px

  .section__header
    margin: 16rem 0 2rem 0
    @media screen and (max-width: 575px)
      margin: 8rem 0 2rem 0

    @media screen and (max-width: 991px)
      margin: 10rem 0 2rem 0

    @media screen and (max-width: 1900px)
      margin: 14rem 0 2rem 0

