<section id="about" class="section section--alternate section--bg-1">
  <article class="container">
    <header class="section__header">
      <h3 class="section__header__heading">Hello, we are Coderize</h3>
      <p class="section__header__subtext">A modern software company at your service!</p>
    </header>

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <article class="ability">
          <header class="ability__header">
            <div class="ability__header__figure">
              <img src="/assets/images/svg/about/business_analysis.svg" aria-hidden="true" alt="Buisness analysis icon">
            </div>

            <h4 class="ability__header__heading">Analysis</h4>
          </header>

          <div>
            <p class="ability__description">We dive deep into client’s business to make sure we build software that brings value.</p>
          </div>
        </article>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <article class="ability">
          <header class="ability__header">
            <div class="ability__header__figure">
              <img src="/assets/images/svg/about/expert.svg" aria-hidden="true" alt="Support icon">
            </div>

            <h4 class="ability__header__heading">Support</h4>
          </header>

          <div>
            <p class="ability__description">Our support is always at your disposal, even once we've finished developing your product.</p>
          </div>
        </article>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <article class="ability">
          <header class="ability__header">
            <div class="ability__header__figure">
              <img src="/assets/images/svg/about/agile.svg" aria-hidden="true" alt="Agile approach icon">
            </div>

            <h4 class="ability__header__heading">Agile approach</h4>
          </header>

          <div>
            <p class="ability__description">Our working process relies on the Agile methodology that we slightly amend to satisfy you.</p>
          </div>
        </article>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <article class="ability">
          <header class="ability__header">
            <div class="ability__header__figure">
              <img src="/assets/images/svg/about/mobile.svg" aria-hidden="true" alt="Mobile friendly icon">
            </div>

            <h4 class="ability__header__heading">Mobile friendly</h4>
          </header>

          <div>
            <p class="ability__description">We design responsive interfaces with a great user-experience across all platforms.</p>
          </div>
        </article>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <article class="ability">
          <header class="ability__header">
            <div class="ability__header__figure">
              <img src="/assets/images/svg/about/development.svg" aria-hidden="true" alt="Development icon">
            </div>

            <h4 class="ability__header__heading">Development</h4>
          </header>

          <div>
            <p class="ability__description">We are meticulous about the quality of our code and design usability.</p>
          </div>
        </article>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <article class="ability">
          <header class="ability__header">
            <div class="ability__header__figure">
              <img src="/assets/images/svg/about/cheap.svg" aria-hidden="true" alt="Cheap icon">
            </div>

            <h4 class="ability__header__heading">Adaptive price</h4>
          </header>

          <div>
            <p class="ability__description">We adapt our prices for each client individually based on project complexity.</p>
          </div>
        </article>
      </div>
    </div>
  </article>
</section>
