<section id="services" class="section section--bg-4">
  <article class="container">
    <header class="section__header">
      <h3 class="section__header__heading">Our services</h3>
      <p class="section__header__subtext">We work with established companies and approach each case individually.</p>
    </header>

    <div class="row">
      <div class="col-sm-12 col-md-4">
        <article tabindex="0" class="service">
          <section class="service__face service--front">
            <h5 class="service__headline">Desktop</h5>
            <p class="service__description">We create cross-platform applications.</p>

            <span class="button">Learn more</span>
          </section>

          <section class="service__face service--back">
            <p class="service__details">
              We offer cross-platform desktop application development services to turn your idea into a solid piece of code. Our applications are written with Electron and provide a native-like feeling.
            </p>
          </section>
        </article>
      </div>

      <div class="col-sm-12 col-md-4">
        <article tabindex="0" class="service service--main">
          <section class="service__face service--front">
            <h5 class="service__headline">Web</h5>
            <p class="service__description">Coding amazing web apps since forever.</p>

            <span class="button">Learn more</span>
          </section>

          <section class="service__face service--back">
            <p class="service__details">
              Web is our specialization. We develop responsive user interfaces coupled with secured RESTful APIs. Our web apps are blazing fast and pass each accessibility audit.
            </p>
          </section>
        </article>
      </div>

      <div class="col-sm-12 col-md-4">
        <article tabindex="0" class="service">
          <section class="service__face service--front">
            <h5 class="service__headline">Mobile</h5>
            <p class="service__description">Blazing fast mobile apps for everyone.</p>

            <span class="button">Learn more</span>
          </section>

          <section class="service__face service--back">
            <p class="service__details">
              We can develop mobile applications ready for shipping to end users. Coderize’s team works in collaboration with the Customer and developers to embrace the latest trends.
            </p>
          </section>
        </article>
      </div>
    </div>
  </article>
</section>
