<section id="technologies" class="section section--alternate">
  <article class="container">
    <header class="section__header">
      <h3 class="section__header__heading">Technologies</h3>
      <p class="section__header__subtext">We develop in trusted technologies.</p>
    </header>

    <div class="row">
      <div class="col-4">
        <article class="technology">
          <div class="technology__figure">
            <img src="/assets/images/svg/technologies/javascript.svg" alt="JavaScript">
          </div>
        </article>
      </div>

      <div class="col-4">
        <article class="technology">
          <div class="technology__figure">
            <img src="/assets/images/svg/technologies/python.svg" alt="Python">
          </div>
        </article>
      </div>

      <div class="col-4">
        <article class="technology">
          <div class="technology__figure">
            <img src="/assets/images/svg/technologies/django.svg" alt="Django">
          </div>
        </article>
      </div>

      <div class="col-4">
        <article class="technology">
          <div class="technology__figure">
            <img src="/assets/images/svg/technologies/nodejs.svg" alt="NodeJS">
          </div>
        </article>
      </div>

      <div class="col-4">
        <article class="technology">
          <div class="technology__figure">
            <img src="/assets/images/svg/technologies/react.svg" alt="ReactJS">
          </div>
        </article>
      </div>

      <div class="col-4">
        <article class="technology">
          <div class="technology__figure">
            <img src="/assets/images/svg/technologies/docker.svg" alt="Docker">
          </div>
        </article>
      </div>
    </div>
  </article>
</section>
