<header id="home" class="header section--bg-2">
  <div class="hero container-fluid">
    <h1><a class="hero__headline" href="{{ "/" | relative_url }}" rel="index">Coderize</a></h1>
    <p class="hero__tagline">Let's create something awesome. Together.</p>

    <div class="hero__prompt">
      <a href="#content" class="hero__prompt__link" aria-label="Scroll to main content">
        <img src="/assets/images/arrow.svg" class="hero__prompt__icon" alt="Learn more" aria-hidden="true">
      </a>
    </div>
  </div>
</header>
