<nav class="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
  <ul class="navigation__list">
    <li class="navigation__element">
      <img class="logo__img" src="/assets/images/favicons/favicon-white.svg" alt="Coderize logo" />
    </li>

    <li class="navigation__element">
      <a class="navigation__link" href="#home">Home</a>
    </li>

    <li class="navigation__element">
      <a class="navigation__link" href="#about">About</a>
    </li>

    <li class="navigation__element">
      <a class="navigation__link" href="#services">Services</a>
    </li>

    <li class="navigation__element">
      <a class="navigation__link" href="#technologies">Technologies</a>
    </li>

    <li class="navigation__element">
      <a class="navigation__link" href="#contact">Contact us</a>
    </li>
  </ul>
</nav>

<div class="navigation__toggle" aria-hidden="true">
  <div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
