<!DOCTYPE html>
<html lang={{ page.lang | default: site.lang | default: "en" }} dir="ltr" vocab="http://schema.org" typeof="WebPage">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, shrink-to-fit=no, minimal-ui">
    <meta name="description" content="{{ page.excerpt | default: site.about | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title property="name">
      {% if page.title %}
        {{ site.title | escape }} &middot; {{ page.title | escape }}
      {% else %}
        {{ site.title | escape }}
      {% endif %}
    </title>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Facebook -->
    <meta property="og:url" content="https://www.coderize.org/">
    <meta property="og:title" content="Coderize – a modern software company at your service!">
    <meta property="og:description" content="{{ page.excerpt | default: site.about | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <meta property="og:image" content="/assets/images/meta-img.png">

    <link rel="index" title="Home" href="https://www.coderize.org/">
    <link rel="canonical" href="https://www.coderize.org/">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;subset=latin-ext">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/assets/styles/index.css">

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv-printshiv.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <a href="#content" class="srd">Skip to main content</a>

    {% include navigation.html %}
    {% include header.html %}

    <main class="main" role="main" id="content">
      {{ content }}
    </main>

    {% include footer.html %}
    <script src="/assets/scripts/index.js"></script>
  </body>
</html>
